# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.vscode/
.idea
test/
Object/
debug/
target/*

# Executables
*.swf
*.air
*.ipa
*.apk
cocktail
cocktail.exe

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
